<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Url Shortener</title>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="javascripts/app.js"></script>
  </head>

  <body>
    <h1>Url Shortener App</h1>

    <form action="/" method="post">
      <label for="url">Enter URL:</label>
      <input type="text" name="url" autofocus="true" required>

      <input type="submit" value="Generate Shortlink"></input>
    </form>

    <section class="link-success"></section>
    <section class="link-error">
      <%= "<h4>#{@error}</h4>" if @error %>
    </section>

    <section class="top-links">
      <ul>
        <% @top_links.each do |link| %>
          <li><%= link %></li>
        <% end %>
      </ul>
    </section>
  </body>
</html>
